body {
    font-family: helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif ;
    width: 16%;
    text-shadow:
    1px 1px 0px black
    -1px 1px 0px black
    1px -1px 0px black
    -1px -1px 0px black
    
}

ul {
    margin: 0px;
}

body > header {
    background-color: deepskyblue;
    color: white; 
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white; 
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

#blurb {
    text-align: center;
    font-weight: bold;
}

#trending-items {
    display: flex;
    flex-direction: column;
    font-family: helvetica, Arial; 
}

#trending-items li {
    font-family: "Rubik", Arial;
    list-style-type: none; 
}

.item {
    display: flex;
    align-items: center; /* Vertically align image and text */
    margin-bottom: 15px; /* Space between each image-text pair */
}

.item img {
    margin-right: 15px; /* Space between image and text */
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: deepskyblue;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 50%;
}

#footer-title {
    color: white;
}
